body {
	margin-top: 80px; 
}

img{display:block;
	width:100%;
	position: absolute;
	top:0;
	left:0;
}

.container {
	margin-left: auto;
	margin-right:auto;
}


header{
	background:rgba(0,0,0,0.3);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: 70px;
}


header h1{
	display: inline-block;
	margin-left: 50px;
	font-size: 50px;
	color: white;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed';
}


header nav {
	float: right;
	padding-top: 1%;
	margin-right: 0.7%;

}

header li{
	display: inline-block;
}

.blockcentral{
	display:inline;
	position: relative;
}

footer{
	background-color: grey;
	color:white;
	font-family: 'Open Sans Condensed';
	text-align: center;
	font-size: 18px;
	background: rgba(0,0,0,0.3);
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}

ul li {
	list-style-type: none;
	display: inline;
	padding: 30px;

}
footer a {
	color: white;
}

